body
{
  width: 100%;
  margin: 0px;
  color: white;
  font-family: 'Dancing Script', cursive;
  background-color: #02010a;
}
a
{
  color: white;
}

#contenido
{
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}


/*Estilos de header*/

header
{
  width: 100%;
  background: #5b7989;
  border-radius: 10px 10px 0px 0px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  animation-name: rebote;
  animation-duration: 2s;
}
header h1
{
  font-size: 2em;
  margin-left: 2vw;
}
header nav
{
  font-size: 1.5em;
  margin-right: 2vw;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
}
header nav a
{
  margin: 1vw;
}
@-webkit-keyframes rebote
{
  0%{
    margin-top: 150%;
  }
  60%{
    margin-top: -5%;
  }
  100%{
    margin-top: 0%;
  }
}


/*Estilos de cuerpo*/

.imagen1
{
  width: 100%;
  background: #82c3a6;
  text-align: center;
}
.imagen2
{
  width: 100%;
  background: #d5c75f;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-flow: row;
}
.imagen1 img
{
  width: 80%;
  margin: 2vw;
  padding: 0;
  box-shadow: 2px 2px 5px #02010a;
}
.imagen2 img
{
  width: 50%;
  margin: 2vw;
  padding: 0;
  border: 2px solid black;
  box-shadow: 2px 2px 5px #02010a;
}
#paisaje2:hover
{
  animation-name: paisaje2;
  animation-duration: 2s;
}
#retrato1:hover
{
  animation-name: retrato1;
  animation-duration: 2s;
}
@-webkit-keyframes paisaje2
{
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(10deg);
  }
}
@-webkit-keyframes retrato1
{
  from{
    transform: translate(0);
  }
  to{
    transform: translate(20px, -5px);
  }
}


/*Estilos del footer*/

footer
{
  color: black;
  background: #C6d5c5;
  border-radius: 0px 0px 10px 10px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-flow: row;
  padding: 0 2vw;
}
footer ul
{
  padding: 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-flow: column;
}
footer li
{
  list-style: none;
}
footer div
{
  width: 25%;
  text-align: center;
}
footer a
{
  color: black;
}
.redessociales img
{
  width: 1em;
  margin: 0;
  padding: 0;
}

/* estilo de los links*/

header a:dir(index.html)
{
  text-decoration: none;
}



/*Elementos especificos de Pagina de paisajes*/


#fotospaisajes
{
  box-sizing: border-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}
.pagfotospaisajes
{
  background: #d5c75f;
  padding: 2vw;
}
div img
{
  box-sizing: border-box;
  padding: 2vw;
  width: 33%;
}
.img1
{
  -webkit-filter: blur(10px);
  filter: blur(10px);
}
.img2, .img4, .img6
{
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
.img3
{
  -webkit-filter: sepia(90%);
  filter: sepia(90%);
}
